

    <div class="vertical-menu">
        <div data-simplebar class="h-100">

            <div class="navbar-brand-box">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="logo">
                    <i class="mdi mdi-alpha-x-circle"></i>
                    <span>Admin</span>
                </a>
            </div>

            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="waves-effect">
                            <i class="fas fa-angle-right"></i><span>Site</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="" asp-action="" class="waves-effect @ViewBag.dashboardActive">
                            <i class="fas fa-angle-right"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Car" asp-action="CarList" class="waves-effect @ViewBag.carActive">
                            <i class="fas fa-angle-right"></i><span>Araçlar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Feature" asp-action="FeatureList" class="waves-effect @ViewBag.featureActive">
                            <i class="fas fa-angle-right"></i><span>Özellikler</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Brand" asp-action="BrandList" class="waves-effect @ViewBag.brandActive">
                            <i class="fas fa-angle-right"></i><span>Markalar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Author" asp-action="AuthorList" class="waves-effect @ViewBag.authorActive">
                            <i class="fas fa-angle-right"></i><span>Yazarlar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Category" asp-action="CategoryList" class="waves-effect @ViewBag.categoryActive">
                            <i class="fas fa-angle-right"></i><span>Kategoriler</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Blog" asp-action="BlogList" class="waves-effect @ViewBag.blogActive">
                            <i class="fas fa-angle-right"></i><span>Bloglar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Pricing" asp-action="PricingList" class="waves-effect @ViewBag.pricingActive">
                            <i class="fas fa-angle-right"></i><span>Fiyatlar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Banner" asp-action="BannerUpdate" class="waves-effect @ViewBag.bannerActive">
                            <i class="fas fa-angle-right"></i><span>Banner</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="About" asp-action="AboutUpdate" class="waves-effect @ViewBag.aboutActive">
                            <i class="fas fa-angle-right"></i><span>Hakkımızda</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Contact" asp-action="ContactList" class="waves-effect @ViewBag.contactActive">
                            <i class="fas fa-angle-right"></i><span>Mesajlar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="FooterAddress" asp-action="FooterAddressUpdate" class="waves-effect @ViewBag.footerAddressActive">
                            <i class="fas fa-angle-right"></i><span>Footer Adres</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Location" asp-action="LocationList" class="waves-effect @ViewBag.locationActive">
                            <i class="fas fa-angle-right"></i><span>Lokasyonlar</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Service" asp-action="ServiceList" class="waves-effect @ViewBag.serviceActive">
                            <i class="fas fa-angle-right"></i><span>Hizmetler</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="SocialMedia" asp-action="SocialMediaList" class="waves-effect @ViewBag.socialMediaActive">
                            <i class="fas fa-angle-right"></i><span>Sosyal Medya</span>
                        </a>
                    </li>
                    <li class="mm-active">
                        <a asp-area="Admin" asp-controller="Testimonial" asp-action="TestimonialList" class="waves-effect @ViewBag.TestimonialActive">
                            <i class="fas fa-angle-right"></i><span>Referanslar</span>
                        </a>
                    </li>

                </ul>
            </div>
            
        </div>
    </div>